body{
  background-color: #DFE9D3;
  color: #4C6132;
}

div.outer{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

a, a:hover, a:visited{
  color: #4C6132;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

#logo_box{
  background-color: #8EA376;
  width: 100%;
  max-width: 100%;
}

#logo{
  background-image: url(logo.jpg);
  height: 200px;
}

div.outer > div{
  margin: 12px 8px;
}

#toplink{
  font-size: small;
  text-align: right;
}

#footer{
  font-size: small;
  text-align: center;
}

#disqus_box{
  margin-top: 24px;
  margin-bottom: 48px;
}
