body{
  background-color: #DFE9D3;
  color: #4C6132;
  padding-bottom: 10em;
  line-height: 1.6;
  font-family: 'Noto Sans TC', sans-serif;
}

div.outer{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

a:link, a:hover, a:visited{
  color: #4C6132;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover{
  border-bottom: 1px solid;
}

#logo_box{
  background-color: #8EA376;
  width: 100%;
  max-width: 100%;
}

#logo{
  background-image: url(logo.jpg);
  height: 200px;
}

#toplink{
  font-size: small;
  text-align: right;
  margin: 1em 0;
}

#footer{
  font-size: small;
  text-align: center;
}

#disqus_box{
  margin-top: 1em;
  margin-bottom: 4em;
}

.event {
  margin: 3em 0;
}
