@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans CJK TC Regular'),
       local('Noto Sans TC Regular'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Sans CJK TC Bold'),
       local('Noto Sans TC Bold'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf) format('opentype');
}

body{
  background-color: #DFE9D3;
  color: #4C6132;
  padding-bottom: 1em;
  line-height: 1.6;
  font-family: 'Noto Sans TC', sans-serif;
}

div.outer{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

a:link, a:hover, a:visited{
  color: #4C6132;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover{
  border-bottom: 1px solid;
}

#logo_box{
  background-color: #8EA376;
  width: 100%;
  max-width: 100%;
}

#logo{
  background-image: url(logo.jpg);
  height: 200px;
}

#toplink{
  font-size: small;
  text-align: right;
  margin: 1em 0;
}

#footer{
  font-size: small;
  text-align: center;
}

#disqus_box{
  margin-top: 1em;
  margin-bottom: 4em;
}

.event {
  margin: 3em 0;
}

.menu > a{
  white-space: nowrap;
}

li.break {
  list-style-type: none;
  padding-top: 6px;
  padding-bottom: 18px;
}

.document {
  width: 100%;
  aspect-ratio: 0.75;
}
